<!DOCTYPE html>
<html>
<head>
    <title>Panel administracyjny firmy</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <h2>Panel administracyjny firmy</h2>
    <p><strong>Nazwa firmy:</strong> {{ firma.nazwa }}</p>
    <p><strong>Opis:</strong> {{ firma.opis }}</p>
    <p><strong>Zarobione pieniądze:</strong> {{ zarobione_pieniadze }} zł</p>
    <p><strong>Sprzedane produkty:</strong> {{ ilosc_sprzedanych_produktow }}</p>

    <h3>Produkty</h3>
    <ul>
        {% for produkt in produkty %}
            <li>{{ produkt.nazwa }} - Cena: {{ produkt.cena }} zł</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>