{% extends "template.html" %}
{% block content %}
{% load static %}
<div id="glowny">
    <div id="baner">
        <img src="{% static 'images/blackweeks.jpg' %}" height="300px" />
    </div>
    <h1>Najlepsze okazje black friday</h1>
    <div class="produkty-container">
        {% for produkt in produkty %}
        <div class="produkt">
            {% if produkt.zdjecie %}
            <img src="{{ produkt.zdjecie.url }}" />
            {% endif %}
            <a href="{% url 'produkt_detail' produkt.id %}">{{ produkt.nazwa }}</a>
            <p>{{ produkt.cena }} PLN</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
