{% extends "template.html" %}
{% block content %}

<div class="cart-container">
    <h1 class="cart-title">Twój Koszyk</h1>
    <div class="cart-items">
        {% for pozycja in pozycje %}
        <div class="cart-item">
            <div class="item-image">
                {% if produkt.zdjecie %}
                <img src="{{ produkt.zdjecie.url }}" />
                {% endif %}
            </div>
            <div class="item-details">
                <h3>{{ pozycja.produkt.nazwa }}</h3>
                <p>Cena: {{ pozycja.produkt.cena }} PLN</p>
                <p>Ilość:
                    <button>-</button>
                    <span>{{ pozycja.ilosc }}</span>
                    <button>+</button>
                </p>
                <p>Łącznie: {{ pozycja.cena_calosciowa }} PLN</p>
            </div>
            <div class="item-actions">
                <button class="remove-item">Usuń</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cart-summary">
        <h2>Łączna kwota: {{ total }} PLN</h2>
        <div class="checkout-buttons">
            <a href="{% url 'home' %}" class="btn checkout-btn">Dostawa i płatność</a>
            <a href="{% url 'home' %}" class="btn continue-btn">Kontynuuj zakupy</a>
        </div>
    </div>
</div>
{% endblock %}