<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
</head>
<body>
    {% extends 'template.html' %}
{% block content %}
  <h2>Login</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log in</button>
       <p>
            Nie masz konta?
            <a href="{% url 'register' %}">Zarejestruj się</a>
        </p>
        <p>
            Jesteś firmą?
            <a href="{% url 'company_register' %}">Zarejestruj konto firmy</a>
        </p>
  </form>



{% endblock %}


</body>
</html>