{% extends "template.html" %}
{% load custom_filters %}
{% block content %}
<div class="orders">
    <br>
    <h2>Moje zamówienia</h2>

    {% if zamowienia %}
        <ul class="order-list">
            {% for zamowienie in zamowienia %}
                <li class="order-item">
                    <h2>Numer zamówienia: {{ zamowienie.id }}</h2>
                    <h3>Dane osobowe:</h3>
                    <p>Imię: {{ zamowienie.imie }}</p>
                    <p>Nazwisko: {{ zamowienie.nazwisko }}</p>
                    <p>Numer telefonu: {{ zamowienie.numer_telefonu }}</p>
                    <h3>Adres Zamówienia:</h3>
                    <p>Ulica i numer domu: {{ zamowienie.ulica }}</p>
                    <p>Miasto: {{ zamowienie.miasto }}</p>
                    <p>Kod pocztowy: {{ zamowienie.kod_pocztowy }}</p>
                    <h3>Notatki od zamawiającego:</h3>
                    <p>{{ zamowienie.notatki }}</p>
                    <h3>Produkty:</h3>
                    <ul class="product-list">
                        {% for pozycja in zamowienie.pozycjazamowienia_set.all %}
                            <li class="product-item">
                                <div class="product-details">
                                    <h4>{{ pozycja.produkt.nazwa }}</h4>
                                    <p>Ilość: {{ pozycja.ilosc }}</p>
                                    <p>Cena jednostkowa: {{ pozycja.produkt.cena }} PLN</p>
                                    <p>Łączna cena: {{ pozycja.ilosc|mul:pozycja.produkt.cena|floatformat:2 }} PLN</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <br>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nie masz żadnych zamówień.</p>
    {% endif %}
</div>
{% endblock %}