<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
    <style>
        .company-info{
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--background-color-light);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.company-info h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.company-info p {
    margin-bottom: 10px;
    font-weight: bold;
    padding-right: 10px;
}
    </style>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="profile-info">
        <h2>Profil użytkownika</h2>
        <p>Imię: {{ user.first_name }}</p>
        <p>Nazwisko: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'logout' %}" class="logout-button">Wyloguj się</a>
        <a href="{% url 'zamowienia' %}" class="logout-button">Moje zamówienia</a>
    </div>

    <div class="company-info">
    {% if firma %}
    <h2>Dane firmy</h2>
    <p><strong>Nazwa firmy:</strong> {{ firma.nazwa }}</p>
    <p><strong>Opis:</strong> {{ firma.opis }}</p>
    <p><strong>Zarobione pieniądze:</strong> {{ zarobione_pieniadze }} zł</p>
    <p><strong>Sprzedane produkty:</strong> {{ ilosc_sprzedanych_produktow }}</p>

    <h3>Produkty</h3>
    <ul>
        {% for produkt in produkty %}
            <li>{{ produkt.nazwa }} - Cena: {{ produkt.cena }} zł</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nie jesteś przypisany do żadnej firmy.</p>
    {% endif %}
</div>
    {% endblock %}
</body>
</html>