<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AlleDrogo</title>
    </head>
    <body>
        <h1>Witaj na AlleDrogo!</h1>
        <p>
            Witaj na naszej platformie. Znajdziesz tutaj wiele ciekawych
            produktów w bardzo atrakcyjnych cenach.
        </p>
        <p>Jeśli jesteś zainteresowany zakupem, zaloguj się lub zarejestruj.</p>
        <p>Życzymy udanych zakupów!</p>
    </body>
</html>
